node_modules

dist
*/node_modules/**/*
*/compass/**/*
*/add-ons/**
*/components/react/**/*
*/content/**/*
*/core/**/*
*/core-ui/**/*
*/lambda/**/*
*/logging/**/*
*/scripts/**/*
*/service-catalog-ui/**/*
*/tests/**/*